nav ul {
	list-style-type: none;
	display: inline;
	font-family:"Lato-Regular";
	display: flex;
	justify-content: space-around;
}

nav li {
	max-width: max-content; 
	margin:20px;
	width: 50%;
}

nav a {
	color: #a993ff;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: none;
}

nav a:visited{
	text-decoration: none;
}

nav a:hover {
	color: #ffaa00;
	/*font-size:120%;*/
	text-decoration: underline;
}

.is-current {
	color: black;
	text-shadow: 1px 1px 1px grey;
	background-color: #a993ff;
}

@font-face {
	font-family: "Lato-Regular";
	src: url('fonts/Lato-Regular.ttf') format('truetype');
}
